<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
<title>
		
</title>
</head>
<body>

<div class="container-fluid">

</div>

<div class = 'flash'>
	{%- with messages = get_flashed_messages() -%}
        {%- if messages -%}
        <ul>
    		{%- for message in messages -%}
            <li> <strong> {{ message }} </strong> </li>
        	{%- endfor -%}
        </ul>
        {%- endif -%}
    {%- endwith -%}
</div>


<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-8"><a href="/"><strong>CATALOG APP</strong></a></div>
		<div class="col-md-4 col-xs-4">

		{%if 'username' in login_session %}
		Welcome, {{login_session['username']}}&nbsp<a href="/logout/">Logout</a>
		{%else%}
		<a href="/login/"><strong>Login/Sign Up</strong></a><!-- &nbsp&nbsp&nbsp<a href="/signup">Sign Up</a> -->
		{%endif%}
			
		</div>
	</div>	

	<div class="row">
		<div class="col-md-3 col-xs-3">
		{% block sidebar %}
		<div class="row">
			Category:
		</div>		
		{%if 'email' in login_session and login_session['email'] == 'admin@catalogapp.com'%}
		<div class="row">
			<a href="{{url_for('newCategory')}}"><button type="button">New Category</button></a>
		</div>
		{%endif%}
		{% for entry in categories %}
		<div class="row">
			<a  href="{{url_for('showProducts',category_name=entry.name)}}">
				{#<img alt="offer banner1" class="category-banner img-responsive"src="{{entry.image}}">#}
				{{entry.name.capitalize()}}
			</a>
		</div>
		{% endfor %}
		{% endblock %}</div>
		<div class="col-md-9 col-xs-9">
			<div class="col-md-12">
			<br>
			{% block content %}
			Welcome to Engineering Algorithms<br>
			Engineering Algoritms is a state of art automatic building design system.<!--  powder by artificial intelligence. --><br>

			Please select category to get started.<br>
		{%if not 'username' in login_session %}
			You need to <a href="/login">login</a>  to see more details or to create new building types.
		{%endif%}

			{% endblock %}
			</div>
		</div>
	</div>
{#
	<div class="row">
		<div class="col-md-12">
			Privacy policy |
			About Me |
			Disclaimers |
			Contact Me |
			Developers |
			Cookie statement |
			Mobile view
		</div>
	</div>
#}
</div>

</body>
</html>