<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
	<meta charset="utf-8">
	<meta lang="eng">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">


	{%block head%}
	{%endblock%}

	<title>

	</title>
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-8"><a href="/">CATALOG APP</a></div>
			<div class="col-md-4 col-xs-4">
			{%if 'user' in login_session %}
			<a href="/logout">Logout</a>
			{%else%}
			<a href="/login">Login/Sign Up</a><!-- &nbsp&nbsp&nbsp<a href="/signup">Sign Up</a> -->
			{%endif%}
				
			</div>
		</div>	
		<div class='row'>
			<div class='col-md-12'>
				<div class = 'flash'>
					{%- with messages = get_flashed_messages() -%}
				        {%- if messages -%}
				        <ul>
				    		{%- for message in messages -%}
				            <li> <strong> {{ message }} </strong> </li>
				        	{%- endfor -%}
				        </ul>
				        {%- endif -%}
				    {%- endwith -%}
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				{% block content %}
				Notification Area
				{% endblock %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				Privacy policy |
				About Me |
				Disclaimers |
				Contact Me |
				Developers |
				Cookie statement |
				Mobile view
			</div>
		</div>
	</div>

</body>
</html>