{%extends "baseClean.html"%}

{%block head%}
  <!-- BEGIN Pre-requisites -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" async defer>
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <!-- END Pre-requisites -->
  <!-- Continuing the <head> section -->
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '407221188946-5r2g4pbsnni5sqqv0cqod9f6ag853t2n.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>
{%endblock%}


{%block content%}
<h2>User Sign IN</h2>
<br>
<form method="post">
  <input type = "hidden" name = state value = {{state}}>
  <table>
    <tr>
      <td>Email:</td>
      <td><input type = "text" name = "email" value = "{{email}}" placeholder="Email"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type = "password" name = "password" va;ue = "" placeholder = "password"></td>
    </tr>
    <tr><td>&nbsp</td></tr>
    <tr> 
      <td><input type="submit" name="" value = "Login"></td>
      <td><a href="/signup"><button type="button">Sign Up</button></a></td>
      <td><a href="/"><button type="button">Browse as guest</button></a></td>
    </tr>
  </table>
</form>


<br>
<STRONG>Or Third Party Sign In</STRONG><br>

<hr>
<!-- 	Sign In With GOOGLE -->


<!-- Add where you want your sign-in button to render -->
<!-- Use an image that follows the branding guidelines in a real app -->
<button id="signinButton" style="padding: 0"><div style="height: 40px;width: 300px;margin: 0px;text-align: center;padding-top: 10px">Google Sign In</div></button>
<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>


<!-- Last part of BODY element in file index.html -->
<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{state}}',
      // Always include an `X-Requested-With` header in every AJAX request,
      // to protect against CSRF attacks.
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      },
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
        setTimeout(function() {
          window.location.href = "/";
         }, 3000);
      },
      processData: false,
      data: authResult['code']
    });
  } else {
    // There was an error.
  }
}
</script>




<br>
<br>









<!--	Sign In With Facebook -->
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized'){
      document.getElementById('status').innerHTML = 'Please autherize ' +
      'this app to get basic information of you.';
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1065819363530155',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

};

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
  	console.log('Welcome!  Fetching your information.... ');
  	FB.api('/me', function(response) {
  		console.log('Successful login for: ' + response.name);
  		document.getElementById('status').innerHTML =
  		'Thanks for logging in, ' + response.name + '!';
  	});
  }

  function sendTokenToServer() {
  	var access_token = FB.getAuthResponse()['accessToken'];
  	console.log(access_token)
  	console.log('Welcome!  Fetching your information.... ');
  	FB.api('/me', function(response) {
  		console.log('Successful login for: ' + response.name);
  		console.log(response)
  		$.ajax({
  			type: 'POST',
  			url: '/fbconnect?state={{state}}',
  			processData: false,
  			data: access_token,
  			contentType: 'application/octet-stream; charset=utf-8',
  			success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
        	$('#result').html('Facebook Login Successful!</br>'+ result + '</br>Redirecting...')
        	setTimeout(function() {
        		window.location.href = "/";
        	}, 3000);

        } else {
        	$('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }

    });
  	});
  }

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->
<div 
class="fb-login-button" 
data-width="300" 
data-max-rows="1" 
data-size="large" 
data-button-type="login_with" 
data-show-faces="false" 
data-auto-logout-link="false" 
data-use-continue-as="true"
data-scope="public_profile,email"
onlogin = "sendTokenToServer"
></div>

<div id="status">
</div>

{% endblock %}